*.class
*.log
node_modules
build
npm-debug.log
.env
.DS_Store
.idea
/target/
/project/**/target/
/test/macro-annot/target/
/test/files/target/
/test/target/
/build-sbt/
local.sbt
jitwatch.out
/.settings
